<aside>
    <div class="sidebar-element">
        <h2>Devices</h2>
        <nav class="navigation--devices">
            <ul>
                <li class="active">
                    <i class="icon-laptop"></i>
                    This Computer (active)
                </li>
                <li>
                    <i class="icon-smartphone"></i>
                    Smartphone XY
                </li>
                <li>
                    <i class="icon-tablet_android"></i>
                    Tablet XY
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-element">
        <h2>Sync</h2>
        <nav class="navigation--actions">
            <ul>
                <li>
                    <i class="icon-library_music"></i>
                    Music
                </li>
                <li>
                    <i class="icon-library_books"></i>
                    Documents
                </li>
                <li>
                    <i class="icon-movie"></i>
                    Movies
                </li>
                <li>
                    <i class="icon-person"></i>
                    Custom
                </li>
            </ul>
        </nav>
    </div>
    <div class="sidebar-element">
        <h2>Settings</h2>
        <nav class="navigation--settings">
            <ul>
                <li>
                    <i class="icon-file_upload"></i>
                    Import
                </li>
                <li>
                    <i class="icon-file_download"></i>
                    Export
                </li>
            </ul>
        </nav>
    </div>
</aside>
