<aside ng-controller="SidebarController">
    <nav class="sidebar--navigation">
        <ul>
            <li>
                <a href="#">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="#sync">
                    <i class="icon-sync"></i>
                    <span>Synchronization</span>
                </a>
            </li>
            <li>
                <a href="#device">
                    <i class="icon-usb"></i>
                    <span>Devices</span>
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <a href="#settings">
                    <i class="icon-settings"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="#sync">
                    <i class="icon-notifications"></i>
                    <span>Notifications</span>
                </a>
            </li>
            <li class="separator"></li>
            <li>
                <span ng-click="actions.quit()">
                    <i class="icon-exit_to_app"></i>
                    <span>Exit</span>
                </span>
            </li>
        </ul>
    </nav>
    <nav class="sidebar--actions">
        <ul>
            <li>
                <span class="action-collapse-reveal" ng-click="actions.collapse()">
                    <i class="icon-keyboard_arrow_left swap-collapsable-icon"></i>
                    <span>Collapse</span>
                </span>
            </li>
        </ul>
    </nav>
</aside>
