<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Android Filetransfer</title>
    <link rel="stylesheet" href="../dist/assets/bundle.css">
</head>
<body>
    <main class="component component-ui">
        <div class="dom-load" path="partials/components/sidebar.html"></div>
        <section class="component component-content">
            <!-- Add content here -->
            <h1><i class="icon-high_quality"></i>Content</h1>
            <a href="#" class="btn btn-primary">A Button Element</a>
        </section>
    </main>
    <div class="dom-load" path="partials/components/loader-overlay.html"></div>
    <script src="../dist/assets/dependencies.js" charset="utf-8"></script>
    <script src="../dist/assets/bundle.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            App.start();
        });
    </script>
</body>
<script>
    require('./render/index.js');
</script>
</html>
