@import './variables';
@import './mixins';

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

html, body, main {
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: $color-gray-light;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700;
}

small {
    font-size: 12px;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: $color-primary-blue;
    will-change: color;
    @include transition(color .2s linear);

    &:hover {
        color: $color-primary-blue-dark;
    }
}
