@import './variables';
@import './mixins';

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

html, body, main {
    height: 100%;
}

body {
    background-color: $color-primary;
    font-size: 14px;
}

small {
    font-size: 12px;
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: $color-primary;
    will-change: color;
    @include transition(color .2s linear);

    &:hover {
        color: $color-primary-dark;
    }
}
