@import './variables';

.--stop-animation {
    animation-name: none;
    -webkit-animation-name: none;

    *, *:after, *:before, &:after, &:before {
        animation-name: none;
        -webkit-animation-name: none;
    }
}

@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.--fade-base-transition {
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.--fade-out {
    @extend .--fade-base-transition;
    -webkit-animation: fadeOut;
    animation: fadeOut;
    opacity: 0;
    width: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.--fade-in {
    @extend .--fade-base-transition;
    -webkit-animation: fadeIn;
    animation: fadeIn;
    opacity: 1;
}
