body,
.component-ui {
    z-index: 1;
}

.component-sidebar,
.component-content {
    display: inline-block;
    z-index: 2;
}

.component-sidebar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}

.component-content {
    width: auto;
    width: 100%;
    max-width: calc(100% - 200px);
    margin-left: 200px;
}

.component-overlay {
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
