// Color: Branding
$color-primary: #0091EA;
$color-primary-contrast: #fff;
$color-primary-dark: #0277BD;

// Colors: Grayscale
$color-gray-light: #E0E0E0;
$color-gray-medium: #D9D9D9;
$color-gray-dark: #616161;
$color-gray-darker: #212121;

// Component: Loader
$loader-size: 50px;
$loader-border-size: 7px;
