// Color: Branding
$color-primary: #0403FF;
$color-primary-contrast: #FFD203;
$color-primary-dark: #0201B2;

// Colors: Grayscale
$color-gray-light: #E5E5E5;
$color-gray-medium: #BFBFBF;
$color-gray-dark: #7F7F7F;
$color-gray-darker: #404040;

// Component: Loader
$loader-size: 50px;
$loader-border-size: 7px;
