@import '../variables';
@import '../mixins';

.component-sidebar {
    background-color: $color-gray-light;
    border-right: 1px solid $color-gray-medium;

    .sidebar-element {
        padding: 15px 8px;
        border-bottom: 1px solid $color-gray-medium;

        h2 {
            color: $color-gray-dark;
            margin-bottom: 10px;
            font-size: 12px;
        }

        nav {
            color: $color-gray-darker;
            margin-left: 10px;

            li {
                margin: 8px 0;
                cursor: pointer;
                @include transition(color .2s linear);

                i {
                    font-size: 13px;
                    margin-right: 3px;
                    color: $color-gray-dark;
                    @include transition(color .2s linear);
                }

                &:hover {
                    i {
                        color: $color-primary;
                    }
                }

                &.active {
                    color: $color-primary;

                    i {
                        color: $color-primary;
                    }

                    &:hover {
                        color: $color-primary-dark;

                        i {
                            color: $color-primary-dark;
                        }
                    }
                }
            }
        }
    }
}
