@import '../../../assets/css/keyframes';
@import '../../../assets/css/variables';

.component-loader {
    height: $loader-size;
    width: $loader-size;
    border: $loader-border-size solid $color-gray-light;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotate-forever 0.75s linear 0s infinite;
    overflow-y: hidden;
}
